body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E1E5EE;
    color: #2A324B;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFF;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #2A324B;
    padding: 15px;
}

nav button {
    background-color: #58699D;
    color: #FFF;
    border: none;
    padding: 12px 18px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
}

nav button.active {
    background-color: #FFF;
    color: #2A324B;
    font-weight: bold;
}

main {
    background-color: #E1E5EE;
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.resource-box {
    background-color: #E1E5EE;
    color: #2A324B;
    width: 60%;
    padding: 20px;
    margin: 40px auto;
    border-radius: 5px;
    text-align: left;
}

h2 {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

ul li {
    margin: 8px 0;
}

ul li a {
    text-decoration: none;
    color: #58699D;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}
