body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E1E5EE;
    color: #2A324B;
    text-align: center;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 80%;
    margin: 50px auto;
}

nav {
    display: flex;
    justify-content: flex-start;
    background-color: #2A324B;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

nav button {
    background-color: #2A324B;
    color: #FFF;
    border: none;
    padding: 10px 15px;
    margin: 0;
    font-size: 16px;
    cursor: pointer;
    flex: 1;
    max-width: 150px;
}

nav button.active {
    background-color: #FFF;
    color: #2A324B;
    font-weight: bold;
}

main {
    background-color: #FFF;
    width: 100%;
    padding: 30px;
    border-radius: 0 0 10px 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resource-container {
    text-align: left;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}

ul li a {
    text-decoration: none;
    color: #58699D;
    font-weight: bold;
}

ul li a:hover {
    text-decoration: underline;
}
